* {
  box-sizing: border-box;
}

body {
  background-image: url('./assets/background.jpg');
  background-position: 50% 50%;
  color: white;
}

.navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 2rem !important;
}

.center {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
}

.font-custom {
  font-size: 15px !important;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.weather-icons {
  width: 30px;
}

.text-smoke {
  color: rgb(217, 217, 217);
}

.list-group-item {
  height: 96px;
  display: block;
}

p {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .w-fluid {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .container-fluid {
    padding-top: 0.5rem;
    justify-content: center !important;
  }

  .navbar-brand,
  form,
  .converter {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .navbar-brand {
    justify-content: center;
  }
}
